﻿    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title -Go Turkey</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <link href="~/Content/layou.css" rel="stylesheet" />
    </head>
    <body>
        <div class="row">
                <div class="navbar navbar-inverse navbar-fixed-top">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">
                            <img src="~/Content/img/logoti.jpg"  width="40" height="40" class="img-circle" />
                                 </a>
                                @Html.ActionLink("Go Turkey", "Index", "Home", new { area = "   "}, new { @class = "navbar-brand" })
                            </div>
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Ana Sahifa", "Index", "Home")</li>
                                    <li>@Html.ActionLink("Seyahat", "About", "Home")</li>
                                    <li>@Html.ActionLink("Haberler", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("fuarlar", "Contact", "Home")</li>
                                    <li>@Html.ActionLink("eğitim", "Contact", "Home")</li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right"> 
                                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> ÜYE OL</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> OTURUMU AÇ</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                           Dil
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">TÜRKÇE</a></li>
                                            <li><a href="#">ENGLISH</a></li>
                                            <li><a href="#">عربي</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
    </div>
        </div>
        <div class="row">
                <div class="img" style="background-position: center;background-size: cover; padding: 0px; max-width:100%; height:330px;">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="img" src="~/Content/img/slide2.jpg" alt="Chania" style="width:100%; height:300px; ">
                            </div>
                            <div class="item">
                                <img src="~/Content/img/slide1.jpg" alt="Chania" style="width:100%; height:300px;">
                            </div>
                            <div class="item">
                                <img src="~/Content/img/slide3.jpg" alt="Flower" style="width:100%; height:300px;">
                            </div>
                            <div class="item">
                                <img src="~/Content/img/slide4.jpg" alt="Flower" style="width:100%; height:300px;">
                            </div>

                        </div>
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                     </div> 
                     </div>
            <div class="input-group search col-md-3">
                <input type="text" class="form-control" placeholder="Ara" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">Search</span>
            </div>
            </div>
       <div class="container body-content">
           @RenderBody()
           <hr/>
           <footer>
               <div>
                   <p>&copy; @DateTime.Now.Day / @DateTime.Now.Month / @DateTime.Now.Year - WELCOME TO GO TURKEY</p>
               </div>
           </footer>
       </div>
       @Scripts.Render("~/bundles/jquery")
       @Scripts.Render("~/bundles/bootstrap")
       @RenderSection("scripts", required: false)
   </body>
   </html>
